# ignore everything by default
/*
!.config/
.config/*

!.gitignore

!bin/
!.xinitrc

!.bash_profile
!.bashrc
!.bash_aliases

!.config/ranger/
!.config/sxhkd/
!.config/nvim/
!.config/alacritty/
!.config/awesome/
!.config/rofi/
!.config/picom/
