/*
!.config/
.config/*

!.local/
.local/*
!.local/share/
.local/share/*

!.gitignore

!.bash_profile
!.bashrc
!.bash_aliases
!.xinitrc
!bin/
!wallpaper

!.config/ranger/
!.config/sxhkd/
!.config/nvim/
!.config/alacritty/
!.config/awesome/
!.config/rofi/
!.config/picom/
!.local/share/file-manager/

