/*
!.config/
.config/*

!.local/
.local/*
.local/bin/*

!.gitignore

!.bashrc
!.bash_profile
!.bash_aliases
!.bash_script_template

!.xinitrc
!bin/
!wallpaper
!.screenlayout/
!.emoji_list

!.config/ranger/
!.config/sxhkd/
!.config/alacritty/
!.config/awesome/
!.config/rofi/
!.config/picom/
!.config/dunst/
!.config/fish/
!.config/zathura/
!.config/kak/

# XDG user directories
!.config/user-dirs.dirs

# flameshot
!.config/Dharkael/

# cheat
!.config/cheat/
.config/cheat/cheatsheets/community

# nvim
!.config/nvim/
.config/nvim/colors/theme.vim

# vscode
!.config/Code - OSS/
.config/Code - OSS/*
!.config/Code - OSS/User/
.config/Code - OSS/User/*
!.config/Code - OSS/User/keybindings.json
!.config/Code - OSS/User/settings.json
!.config/Code - OSS/User/snippets/
!.config/Code - OSS/User/extensions
